asgiref==3.8.1
async-timeout==4.0.3
channels==4.1.0
channels-redis==4.2.0
comtypes==1.4.1
Django==5.0.4
msgpack==1.0.8
mysql==0.0.3
mysqlclient==2.2.4
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.3.0
pypiwin32==223
pyttsx3==2.90
pywin32==306
redis==5.0.3
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
